<footer>
  <div class="container">
    <div class="market-module">
      <h3 class="footer-title">Twitter</h3>
      <hr>
    </div>

    <div class="market-module">
      <h3 class="footer-title">Contact us</h3>
      <hr>
      <ul>
        <li>
          <span class="fa fa-map-marker"></span>
          First Floor 35 Richardson Street,
          <br>
          West Perth WA, 6005
        </li>
        <li>
          <span class="fa fa-phone"></span>
          (08) 9212 0105
        </li>
        <li>
          <span class="fa fa-envelope-o"></span>
          corporate@wholenewhome.com.au
        </li>
      </ul>
    </div>
  </div>
</footer>
<div class="legal">
  <p>
    Copyright 2012 - 2013 Whole New Home. All rights reserved
  </p>
</div>
