<header class="container">
    <div id="logo">
      <a href="/">
        <img src="/assets/logo.png" alt="" />
      </a>
    </div>
    <nav>
      <ul class="navigation">
        <li class="main-link">
          <a href="/">Home</a>
        </li>
        <li class="main-link">
          <a href="#">ASX Announcements</a>
        </li>
        <li class="main-link">
          <a href="#">ASX Share Price</a>
        </li>
        <li class="nav-link hover-menu main-link">
          <a href="javascript:void(0)">Corporate Governance</a>
          <ul class="submenu">
            <li class="hover-menu">
              <a href="javascript:void(0)" class="hover-menu-item">Some link</a>
            </li>
            <li class="hover-menu">
              <a href="javascript:void(0)" class="hover-menu-item">Some link</a>
            </li>
            <li class="hover-menu">
              <a href="javascript:void(0)" class="hover-menu-item">Some link</a>
            </li>
            <li class="hover-menu">
              <a href="javascript:void(0)" class="hover-menu-item">Some link</a>
            </li>
          </ul>
        </li>
        <li class="main-link">
          <a href="#">Prospectus</a>
        </li>
      </ul>
    </nav>
</header>
