<header class="container">
    <div id="logo">
      <a href="/">
        <img src="/assets/Kabunilogo.png" alt="" />
      </a>
    </div>
    <nav>
      <ul class="navigation">
        <li class="main-link">
          <a href="http://www.asx.com.au/asx/statistics/announcements.do?by=asxCode&asxCode=KBU&timeframe=D&period=M6">ASX Announcements</a>
        </li>
        <li class="main-link">
          <a href=" http://www.asx.com.au/asx/research/company.do#!/KBU">ASX Share Price</a>
        </li>
        <li class="nav-link hover-menu main-link">
          <a href="javascript:void(0)">Corporate Governance</a>
          <ul class="submenu">
            <li class="hover-menu">
              <a href="/assets/Constitution-KabuniLtd.pdf" class="hover-menu-item" target="_blank">Company Constitution</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/Kabuni-CorporateGovernanceStatement2016.pdf" class="hover-menu-item" target="_blank">Corporate Governance Statement 2016</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/KabuniCodeofConduct-March2016.pdf" class="hover-menu-item" target="_blank">Code of Conduct</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/KabuniAuditCharter-March2016.pdf" class="hover-menu-item" target="_blank">Audit Committee Charter</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/KabuniBoardCharter-March2016.pdf" class="hover-menu-item" target="_blank">Board Charter</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/KabuniContinuousDisclosurePolicy-March2016.pdf" class="hover-menu-item" target="_blank">Continuous Disclosure Policy</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/KabuniNominationCommittee-March2016.pdf" class="hover-menu-item" target="_blank">Nomination Committee Charter</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/KABUNILTDDiversityPolicy.pdf" class="hover-menu-item" target="_blank">Diversity Policy</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/KABUNILTDPerformanceEvaluationPractices.pdf" class="hover-menu-item" target="_blank">Performance Evaluation Practices</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/KABUNILTDProceduresforSelectionandAppointmentofDirectors.pdf" class="hover-menu-item" target="_blank">Procedures for Selection and Appointment of Directors</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/KabuniRemunerationCharter-March2016.pdf" class="hover-menu-item" target="_blank">Remuneration Committee Charter</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/KABUNILTDRemunerationPolicy.pdf" class="hover-menu-item" target="_blank">Remuneration Policy</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/KABUNILTDRiskManagementandInternalComplianceandControl.pdf" class="hover-menu-item" target="_blank">Risk Managment and Internal Compliance and Control</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/KabuniSecuritiesTradingPolicy-March2016.pdf" class="hover-menu-item" target="_blank">Securities Trading Policy</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/KABUNILTDShareholdersCommunicationPolicy.pdf" class="hover-menu-item" target="_blank">Shareholders Communication Policy</a>
            </li>
          </ul>
        </li>
        <li class="main-link">
          <a href="/prospectus.html">Prospectus</a>
        </li>
        <li class="main-link">
          <a href="/assets/AnnualReport2016.pdf">Annual Report 2016</a>
        </li>
      </ul>
    </nav>
</header>
