<header class="container">
    <div id="logo">
      <a href="/">
        <img src="/assets/logo.png" alt="" />
      </a>
    </div>
    <nav>
      <ul class="navigation">
        <li class="main-link">
          <a href="/">Home</a>
        </li>
        <li class="main-link">
          <a href="http://www.asx.com.au/asx/statistics/announcements.do?by=issuerId&issuerId=7788&timeframe=D&period=M6 ">ASX Announcements</a>
        </li>
        <li class="main-link">
          <a href="http://www.asx.com.au/asx/research/company.do#!/WNH">ASX Share Price</a>
        </li>
        <li class="nav-link hover-menu main-link">
          <a href="javascript:void(0)">Corporate Governance</a>
          <ul class="submenu">
            <li class="hover-menu">
              <a href="/assets/MagnoliaResourcesCorporateGovernanceStatement25Aug15.pdf" class="hover-menu-item" target="_blank">Corporate Governance Statement</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/MagnoliaResourcesCodeOfConduct25Aug15.pdf" class="hover-menu-item" target="_blank">Code of Conduct</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/MagnoliaResourcesAuditCommitteeCharter09Jul15.pdf" class="hover-menu-item" target="_blank">Audit Committee Charter</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/MagnoliaResourcesBoardCharter09Jul15.pdf" class="hover-menu-item" target="_blank">Board Charter</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/MagnoliaResourcesContinuousDisclosurePolicy09Jul15.pdf" class="hover-menu-item" target="_blank">Continuous Disclosure Policy</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/MagnoliaResourcesNominationCommitteeCharter09Jul15.pdf" class="hover-menu-item" target="_blank">Nomination Committee Charter</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/MagnoliaResourcesDiversityPolicy09Jul15.pdf" class="hover-menu-item" target="_blank">Diversity Policy</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/MagnoliaResourcesPerformanceEvaluationPractices09Jul15.pdf" class="hover-menu-item" target="_blank">Performance Evaluation Practices</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/MagnoliaResourcesProceduresForSelectionAndAppointmentOfDirectors09Jul15.pdf" class="hover-menu-item" target="_blank">Procedures for Selection and Appointment of Directors</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/MagnoliaResourcesRemunerationCommitteeCharter09Jul15.pdf" class="hover-menu-item" target="_blank">Remuneration Committee Charter</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/MagnoliaResourcesRemunerationPolicy09Jul15.pdf" class="hover-menu-item" target="_blank">Remuneration Policy</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/MagnoliaResourcesRiskManagementAndInternalComplianceAndControl09Jul15.pdf" class="hover-menu-item" target="_blank">Risk Managment and Internal Compliance and Control</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/MagnoliaResourcesSecuritiesTradingPolicy09Jul15.pdf" class="hover-menu-item" target="_blank">Securities Trading Policy</a>
            </li>
            <li class="hover-menu">
              <a href="/assets/MagnoliaResourcesShareholdersCommunicationPolicy09Jul15.pdf" class="hover-menu-item" target="_blank">Shareholders Communication Policy</a>
            </li>
          </ul>
        </li>
        <li class="main-link">
          <a href="/prospectus.html">Prospectus</a>
        </li>
      </ul>
    </nav>
</header>
